<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <!--加载配置文件-->
    <context:property-placeholder location="classpath:rpc.properties"/>

    <context:component-scan base-package="com.chenchen.rpc.client.test"></context:component-scan>

    <bean id="discover" class="com.chenchen.rpc.register_discover.Discover">
        <constructor-arg name="zkAddress" value="${RPC-ZK}"/>
    </bean>

    <!--生成实体，用于在业务类中直接注入-->
    <bean id="client" class="com.chenchen.rpc.client.Client">
        <constructor-arg name="discover" ref="discover"/>
    </bean>
</beans>